.opportunities-container {
    text-align: center;
}

.exp__title {
    font-size: 30px;
}

.ornament {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-main);
    opacity: 0.70;
}

.exp__tile {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.exp__list {
    display: flex;
    flex-direction: column; 
    align-items: center;
    max-width: 900px;
    margin: auto;
}

.exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    width: 90%; 
}

.exp__desc {
    text-align: center;
}

.exp__name {
    font-size: var(--fs-body);
    margin: 0.2em;
    color: var(--clr-main);
}

.exp__body {
    font-size: var(--fs-body);
    margin: 0;
    max-width: 100%;
}

@media (min-width: 800px) {
    .exp__list {
        flex-direction: row; 
    }
    .exp {
        margin: 0 1em;
        width: 14em; 
    }
}
